Options -Indexes

# Protect .env file
<Files ".env">
    Order allow,deny
    Deny from all
</Files>

# Protect sql and log files
<FilesMatch "\.(sql|log)$">
    Order allow,deny
    Deny from all
</FilesMatch>
